.lotr { font-variant: small-caps; background: #423F3A; font-family: "times new roman", serif; color: #F5F39E; font-size: 4em; width: 6em; margin: 0 auto; }
.lotr .top { font-size: .4em; display: block; padding-left: 3em; }
.lotr .middle { display: block; margin-top: -.4em; }
.lotr .middle span { font-size: .3em; display: block; float: left; padding-top: 1em; padding-left: .5em; }
.lotr .middle b { font-weight: normal; text-transform: uppercase; }
.lotr .bottom { display: block; margin-top: -.4em; }
.lotr .bottom span { border: 2px solid #F5F39E; border-left: none; border-right: none; font-size: .5em; display: block; float: left; line-height: .8em; margin: .4em .2em 0 2em; }