.rushmore { font-size: 4em; font-family: arial, sans-serif; color: #EEAF07; text-transform: uppercase; height: 1.4em; text-align: center; width: 11em; margin: 8px auto; }
.rushmore span { display: inline-block; margin: 0 .02em; background: #600; padding: .08em; }
